.margin-tiny {
  margin: .2rem .2rem;
}

.white-background {
  background-color: #fff;
}

.black-text {
  a {
    color: black;    
  }
}

.white-text {
  a {
    color: white;
  }
}

.pointer {
  cursor: pointer !important;
}