$color-black--main: #0000;
$color-white: #fff;
$color-gray--main: rgba(196, 196, 196, 0.4);
$color-gray--dark: rgba(196, 196, 196, 0.23);
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$cheat-padding: 8rem;

$space-from-top: 1rem;
$space-from-left: 1rem;

$font-size-regular: 1rem;
$font-size-medium: 1.5rem;

$font-size-large: 2rem;

$card-padding: 1rem;