*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  color: black; }

.App {
  display: flex;
  flex-direction: column;
  padding-left: .2rem; }
  .App-logo {
    height: 40vmin;
    pointer-events: none; }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; }
  .App-link {
    color: #61dafb; }

body {
  font-family: 'Roboto', 'Roboto'; }

.margin-tiny {
  margin: .2rem .2rem; }

.icon {
  height: 5.7rem; }
  .icon-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }

.Card {
  border: 1px solid black;
  background-color: rgba(196, 196, 196, 0.4);
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  width: 98%;
  position: relative;
  padding: .2rem; }
  .Card_logo {
    font-size: 1.5rem; }
    .Card_logo b {
      font-weight: 400; }
  .Card_info {
    padding-top: .75rem; }
    .Card_info p:not(:last-child) {
      padding-bottom: 1rem; }
  .Card_content {
    vertical-align: center; }
  .Card_prices {
    text-align: right; }
    .Card_prices-text--tiny {
      font-size: .8rem; }
    .Card_prices-text:not(:last-child) {
      padding-bottom: 1rem; }
    .Card_prices-bold {
      font-size: 2rem;
      width: 50%; }
    .Card_prices-cancelled {
      font-weight: 500;
      color: red; }
  .Card_button:link, .Card_button:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: .5rem .5rem;
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    color: #fff; }
  .Card_button:hover {
    background-image: linear-gradient(to right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .Card_button-row {
    text-align: right; }

.Spinner {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }
  .Spinner_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f8f8f8ad; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.Results {
  flex-direction: column;
  display: inline-block;
  padding-top: 8rem;
  padding-left: 1rem;
  width: 75%; }
  .Results_date {
    font-size: 1rem; }
  .Results_group {
    padding-bottom: 1rem; }

.Error {
  padding-top: 8rem;
  text-align: center; }

.Search {
  /* flex-direction: row; */
  display: inline-flex;
  align-items: center; }
  .Search form {
    width: 99%;
    position: relative; }
  .Search-input {
    position: absolute;
    top: 2rem;
    left: 8.5rem;
    width: 90%;
    background: rgba(196, 196, 196, 0.23);
    border-radius: 1rem;
    height: 3.2rem;
    outline: none;
    padding-left: 8px; }

.Filter {
  width: 25%;
  height: 100vh;
  border: 1px solid black;
  margin-top: 8rem;
  margin-bottom: 10px;
  background-color: rgba(196, 196, 196, 0.4);
  margin-left: 1rem;
  padding-left: 3px; }
  .Filter input {
    margin-right: 4px; }

.Home {
  text-align: center; }

.Banner {
  margin-top: 8rem;
  position: relative; }
  .Banner_box {
    display: inline-block; }
  .Banner_overlay {
    padding-left: 2.4rem;
    padding-top: 1.5rem;
    position: absolute;
    text-align: left;
    width: 100%;
    margin: 0; }
    .Banner_overlay-white {
      color: white; }

.SearchResults {
  display: inline-flex;
  flex-direction: row; }
