@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box; }

.App {
  display: flex;
  flex-direction: column;
  padding-left: .2rem; }
  .App-logo {
    height: 40vmin;
    pointer-events: none; }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; }
  .App-link {
    color: #61dafb; }

body {
  font-family: 'Roboto', 'Roboto'; }

.margin-tiny {
  margin: .2rem .2rem; }

.icon {
  height: 5.7rem; }
  .icon-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }

.Card {
  border: 1px solid black;
  background-color: rgba(196, 196, 196, 0.4);
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  width: 98%;
  position: relative;
  padding: .2rem; }
  .Card_logo {
    font-size: 1.5rem; }
    .Card_logo b {
      font-weight: 400; }
  .Card_info {
    padding-top: .75rem; }
    .Card_info p:not(:last-child) {
      padding-bottom: 1rem; }
  .Card_content {
    vertical-align: center; }
  .Card_prices {
    text-align: right; }
    .Card_prices-text--tiny {
      font-size: .8rem; }
    .Card_prices-text:not(:last-child) {
      padding-bottom: 1rem; }
    .Card_prices-bold {
      font-size: 2rem;
      width: 50%; }
    .Card_prices-cancelled {
      font-weight: 500;
      color: red; }
  .Card_button:link, .Card_button:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: .5rem .5rem;
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    color: #fff; }
  .Card_button:hover {
    background-image: linear-gradient(to right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .Card_button-row {
    text-align: right; }

.Spinner {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }
  .Spinner_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f8f8f8ad; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rs-picker-menu {
  position: absolute;
  text-align: left;
  z-index: 7;
  border-radius: 6px;
  background-color: #292d33;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  -webkit-transition: none;
  transition: none; }

.rs-picker-menu .rs-calendar .rs-calendar-table-header-row .rs-calendar-table-cell-content {
  height: 24px;
  padding-top: 0; }

.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
  padding-left: 0;
  padding-right: 0;
  display: inline-block; }

.rs-picker-menu .rs-calendar .rs-calendar-month-dropdown-cell-content, .rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
  width: 30px;
  height: 30px; }

.rs-calendar-table-header-row .rs-calendar-table-cell-content, .rs-calendar-table-header-row .rs-calendar-table-cell-content:focus, .rs-calendar-table-header-row .rs-calendar-table-cell-content:hover, .rs-calendar-table-header-row .rs-calendar-table-cell-content:hover:focus {
  background: none;
  cursor: auto; }

.rs-calendar-table-header-row .rs-calendar-table-cell-content {
  color: #a4a9b3;
  font-size: 12px;
  line-height: 1.66666667;
  padding-top: 2px;
  padding-bottom: 2px; }

.rs-calendar-table-cell {
  display: table-cell;
  width: 1%;
  padding: 1px;
  text-align: center;
  vertical-align: middle; }

.rs-calendar-table-cell-content {
  display: inline-block;
  font-size: 14px;
  color: white;
  line-height: 1.42857143;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px; }

.rs-picker-daterange-header {
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  line-height: 1.42857143;
  border-bottom: 1px solid #3c3f43; }

.rs-picker-daterange-calendar-group {
  height: 274px;
  min-width: 510px; }

.rs-picker-daterange-menu .rs-calendar-header {
  width: 100%;
  text-align: center; }

.rs-picker-daterange-menu .rs-calendar:first-child {
  border-right: 1px solid #3c3f43; }

.rs-picker-daterange-menu .rs-calendar {
  display: inline-block;
  width: 255px;
  height: 278px;
  padding-bottom: 12px; }

.rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-month-toolbar {
  display: block;
  text-align: center;
  width: 100%; }

.rs-calendar-view {
  padding: 4px 12px 12px; }

.rs-calendar-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.rs-calendar-table-row {
  display: table-row; }

.rs-calendar-table-cell {
  display: table-cell;
  width: 1%;
  padding: 1px;
  text-align: center;
  vertical-align: middle; }

.rs-picker-menu .rs-calendar .rs-calendar-table-header-row .rs-calendar-table-cell-content {
  height: 24px;
  padding-top: 0; }

.rs-picker-daterange-menu .rs-calendar-month-dropdown {
  z-index: 1; }

.rs-picker-menu .rs-calendar .rs-calendar-month-dropdown-scroll {
  height: 227px; }

.rs-picker-daterange-calendar-group {
  height: 274px;
  min-width: 510px; }

.rs-picker-daterange-menu .rs-calendar-header {
  width: 100%;
  text-align: center; }

.rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-month-toolbar {
  display: block;
  text-align: center;
  width: 100%; }

.rs-calendar-view {
  padding: 4px 12px 12px; }

.rs-calendar-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.rs-calendar-table-row {
  display: table-row; }

.rs-calendar-table-cell {
  display: table-cell;
  width: 1%;
  padding: 1px;
  text-align: center;
  vertical-align: middle; }

.rs-picker-menu .rs-calendar .rs-calendar-table-header-row .rs-calendar-table-cell-content {
  height: 24px;
  padding-top: 0; }

.rs-calendar-table-cell-in-range, .rs-calendar-table-cell-selected {
  position: relative; }

.rs-calendar-table-cell-in-range:before, .rs-calendar-table-cell-selected:before {
  content: "";
  display: block;
  width: 100%;
  margin-top: 3px;
  height: 24px;
  position: absolute;
  z-index: 0;
  top: 0; }

.rs-calendar-table-cell-in-range .rs-calendar-table-cell-content, .rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  z-index: 1;
  position: relative; }

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  color: #fff;
  border-color: #169de0;
  background-color: #169de0; }

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  border: 1px solid #169de0;
  padding: 4px; }

.rs-calendar-table-cell-in-range:before {
  background-color: rgba(0, 97, 153, 0.5); }

.rs-calendar-table-cell-un-same-month {
  color: black; }
  .rs-calendar-table-cell-un-same-month .rs-calendar-table-cell-content {
    color: #676767; }

.rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-backward {
  float: left; }

.rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-forward {
  float: right; }

.rs-calendar-header-backward, .rs-calendar-header-forward {
  font-size: 0;
  width: 24px; }

.rs-calendar-header-btn-disabled, .rs-calendar-header-btn-disabled:hover, .rs-calendar-header-btn-disabled:hover:focus {
  cursor: not-allowed;
  opacity: .3;
  background: none; }

.rs-calendar-header-backward, .rs-calendar-header-forward, .rs-calendar-header-meridian, .rs-calendar-header-title {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .2s linear,background-color .3s linear;
  transition: color .2s linear,background-color .3s linear;
  color: #a4a9b3;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.66666667;
  border-radius: 6px;
  padding: 2px;
  font-size: 14px;
  line-height: 1.42857143; }

.rs-calendar-header-backward:before {
  content: "\ea0a"; }

.rs-calendar-header-forward:before {
  content: "\ea0c"; }

.rs-calendar-header-backward:before, .rs-calendar-header-forward:before {
  font-family: rsuite-icon-font;
  font-style: normal;
  font-size: 14px; }

.rs-calendar-header-btn-disabled:after {
  display: none !important; }

.rs-calendar-header-month-toolbar, .rs-calendar-header-time-toolbar {
  display: inline-block; }

.rs-calendar-header-month-toolbar {
  float: left; }

.rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-month-toolbar:after, .rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-month-toolbar:before {
  content: " ";
  display: table; }

.rs-picker-daterange-menu .rs-picker-toolbar {
  margin-top: 4px;
  max-width: 510px; }

.rs-picker-toolbar {
  padding: 12px;
  border-top: 1px solid #3c3f43; }

.rs-picker-toolbar-option {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 6px;
  color: #0883c9;
  color: #169de0;
  font-weight: 400;
  border-radius: 0;
  padding: 0 10px; }

.rs-picker-toolbar-right-btn-ok {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 6px;
  background-color: #169de0;
  color: #fff;
  background-color: #0883c9; }

.rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled, .rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled:hover, .rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled:hover:active {
  background-color: #169de0; }

.rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled {
  opacity: .3;
  cursor: not-allowed; }

.rs-picker-toolbar-right {
  float: right; }

.rs-picker-toolbar {
  padding: 12px;
  border-top: 1px solid #3c3f43; }

.rs-picker-toolbar:after, .rs-picker-toolbar:before {
  content: " ";
  display: table; }

.rs-picker-toolbar:after {
  clear: both; }

.rs-picker-toolbar-ranges {
  display: inline-block;
  margin-left: -10px;
  margin-top: 5px; }

.rs-picker-daterange-menu .rs-picker-toolbar {
  margin-top: 4px;
  max-width: 510px; }

.rs-picker-placement-bottom-end .rs-picker-toggle-caret:before, .rs-picker-placement-bottom-start .rs-picker-toggle-caret:before, .rs-picker-toggle-caret:before {
  content: "\ea08"; }

.rs-picker-daterange .rs-picker-toggle-caret:before {
  content: "ÔÅ≥" !important;
  line-height: 17px; }

.rs-picker-toggle-caret:before {
  font-family: rsuite-icon-font !important; }

.Results {
  flex-direction: column;
  display: inline-block;
  padding-top: 8rem;
  padding-left: 1rem;
  width: 75%; }
  .Results_date {
    font-size: 1rem; }
  .Results_group {
    padding-bottom: 1rem; }

.Error {
  padding-top: 8rem;
  text-align: center; }

.Search {
  /* flex-direction: row; */
  display: inline-flex;
  align-items: center; }
  .Search form {
    width: 99%;
    position: relative; }
  .Search-input {
    position: absolute;
    top: 2rem;
    left: 8.5rem;
    width: 90%;
    background: rgba(196, 196, 196, 0.23);
    border-radius: 1rem;
    height: 3.2rem;
    outline: none;
    padding-left: 8px; }

.Filter {
  width: 25%;
  height: 100vh;
  border: 1px solid black;
  margin-top: 8rem;
  margin-bottom: 10px;
  background-color: rgba(196, 196, 196, 0.4);
  margin-left: 1rem;
  padding-left: 3px; }
  .Filter input {
    margin-right: 4px; }
  .Filter .rs-slider {
    position: relative; }
  .Filter .rs-slider-bar {
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3c3f43; }
    .Filter .rs-slider-bar:hover {
      background-color: #3c3f43; }
  .Filter .rs-slider-progress-bar {
    position: absolute;
    height: 6px;
    border-radius: 3px 0 0 3px;
    background-color: #34c3ff; }
  .Filter .rs-slider-handle {
    position: absolute;
    top: -50%; }
    .Filter .rs-slider-handle:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #34c3ff;
      background-color: #292d33;
      margin-left: -6px;
      cursor: pointer;
      -webkit-transition: background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out,-webkit-transform .3s ease-in-out;
      transition: background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out,-webkit-transform .3s ease-in-out;
      transition: box-shadow .3s ease-in-out,background-color .3s ease-in-out,transform .3s ease-in-out;
      transition: box-shadow .3s ease-in-out,background-color .3s ease-in-out,transform .3s ease-in-out,-webkit-box-shadow .3s ease-in-out,-webkit-transform .3s ease-in-out; }
  .Filter .rs-tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 12px;
    opacity: 0;
    line-height: 1.66666667; }
  .Filter .rs-tooltip[class*=placement-top] {
    margin-top: -6px;
    -webkit-transform: translate(0);
    transform: translate(0); }
  .Filter .rs-tooltip[class*=placement-top] .rs-tooltip-arrow {
    bottom: -6px;
    margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #5c6066; }
  .Filter .rs-tooltip .rs-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .Filter .rs-tooltip .rs-tooltip-inner {
    max-width: 250px;
    padding: 2px 10px;
    color: #fff;
    text-align: center;
    background-color: #5c6066;
    border-radius: 4px;
    overflow-wrap: break-word; }
  .Filter .rs-picker-menu {
    position: absolute;
    text-align: left;
    z-index: 7;
    border-radius: 6px;
    background-color: #292d33;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    -webkit-transition: none;
    transition: none; }

.Home {
  text-align: center; }

.Banner {
  margin-top: 8rem;
  position: relative; }
  .Banner_box {
    display: inline-block; }
  .Banner_overlay {
    padding-left: 2.4rem;
    padding-top: 1.5rem;
    position: absolute;
    text-align: left;
    width: 100%;
    margin: 0; }
    .Banner_overlay-white {
      color: white; }

.SearchResults {
  display: inline-flex;
  flex-direction: row; }
