.Card {
  display: grid;
  grid-template-columns: [logo-start] 15rem [logo-end content-start] minmax(35rem, 3.75fr) [content-end prices-start] minmax(20rem, .25fr) [prices-end];
  grid-template-rows: 1fr max-content 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: white;
  color: black;
  box-shadow: 0 0 .2rem 0 rgba(19,26,31,0.12), 0 .2rem .4rem 0 rgba(19,26,31,0.22);
  border: .1rem solid  #e5ebf0;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
  min-height: 19rem;
  margin-top: 1.5rem;
  padding: 1rem;

  @include respond (phone) {
    // background-color: lavender;
    width: 100%;
    margin-bottom: 0rem;
    margin-top: 0rem;
    border-radius: 0;
    justify-content: flex-start;
  }

  @media only screen and (max-width: $bp-bop-medium) {
    grid-template-columns: [logo-start] 8rem [logo-end content-start] minmax(35rem, .75fr) [content-end button-start] max-content [button-end];
  }
  // for phone screens
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: [logo-start] 22rem [logo-end content-start] minmax(25rem, 1fr) [content-end button-start] max-content [button-end];
    grid-template-rows: max-content;
    grid-gap: 0rem;
    padding: 0.5rem;
    border: 1px solid  #e5ebf0;
  }

  &_section-1 {
    display: grid; 
    // grid-template-columns: minmax(20%, 35rem);
    grid-row: 2/3;
    grid-column: content-start/content-end;
    margin-left: 2rem;
    // @media only screen and (max-width: $bp-small) {
    //   grid-template-columns: 50%;
    // }
    p {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &_section-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: end;
    @media only screen and (max-width: $bp-small) {
      grid-column: 2/3;
      grid-row: 3/4;
      justify-self: start;
    }
  }

  &_title {
    font-size: 2.4rem;
    margin-bottom: .3rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }

  &_logo {
    grid-row: 2/3;
    justify-self: center;
    margin-left: 2rem;
    @media only screen and (max-width: $bp-small) {
      grid-row: 1/4;
      align-self: center;
    }
  }

  &_date {
    font-size: 2.4rem;
  }

  &_info {
    font-weight: 300;
  }

  &_location {
    font-size: 1.8rem;
  }

  &_time {
    font-size: 2.4rem;
  }

  &_title, &_location {
    @media only screen and (max-width: $bp-small) {
      line-height: 12px;
    }
  }

  &_location, &_time {
    @media only screen and (max-width: $bp-small) {
      font-size: 2.4rem;
    }
  }
 
  &_prices {
    text-align: right;
    align-self: end;
    &-text {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 300;
      @media only screen and (max-width: $bp-small) {
        padding-left: 6px;
      }
    }
    &-bold {
      font-size: 3.6rem;
      margin-left: .5rem;
      font-weight: 300;
      @media only screen and (max-width: $bp-small) {
        font-size: 2.7rem;
      }
    }
    &-cancelled {
      font-weight: 500;
      color: red;
    }
  }
  
  &_button {
    grid-row: 3/4;
    grid-column: 3/4;
    justify-self: end;
    font-size: 1.5rem;
    @media only screen and (max-width: $bp-small) {
      grid-column: button-start/button-end;
      align-self: end;
      font-size: 2rem;
    }
    &:link, &:visited {
      // transition: all 1s;
      position: relative;
      z-index: 1;
      display: inline-block;
      text-decoration: none;
      border-radius: 1rem;
      padding: .5rem .5rem;      // background-image: linear-gradient(to right, $color-purple--light, var(--color-primary-dark));
      color: $color-white;
      background-image: linear-gradient(to bottom left,  $color-purple--light, var(--color-primary-dark));
      background-repeat: 1;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0; 
        bottom: 0; 
        left: 0;
        background-image: linear-gradient(to top right, $color-purple--light,  var(--color-primary-dark));
        z-index: -1;
        transition: opacity 0.1s linear;
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    &:link, &:visited {
      &::before {
        border-radius: 1rem;
      }
    } 
  }

  // logo styles 
  .ticketmaster-logo {
    fill: #026CDF;
    width: 100%;
    height: 100%;
  }

  .stubhub-logo {
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $bp-small) {
      width: 70%;
      margin-left: 5px;
      // margin-top: 10px;
    }
  }

  .seatgeek-logo {
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $bp-small) {
      margin-top: 10px;
    }
  }
}