.Card {
  border: 1px solid black;
  background-color: $color-gray--main;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  width: 98%;
  position: relative;
  padding: .2rem;
  &_logo {
    font-size: $font-size-medium;
  }
  &_info {
    padding-top: .75rem;
    p:not(:last-child) {
      padding-bottom: 1rem;
    }
  }
  &_content {
    vertical-align: center;
  }
  &_prices { 
    &-text {
      text-align: right;
      &--tiny {
        font-size: .8rem;
      }
      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }
    &-bold {
      font-size: $font-size-large;
      width: 50%;
    }
  }
  &_button {
    &:link, &:visited {
      display: inline-block;
      text-decoration: none;
      border-radius: 1rem;
      padding: .5rem .5rem;
      background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
      color: $color-white;
    }
    &-row {
      text-align: right;
    }
  }
}