.carousel {
    padding-bottom: 1rem;
    
    li.BrainhubCarouselItem {
        background-color: #0a0a0a;
        height: 200px;
        border-radius: 1rem;
        overflow:hidden;
    }

    &-image {
        width: 100%;
        &_container {
            // position: relative;
        }
        
        &_text {
            color:white;
            position:absolute;
            top: 30px;
            left: 30px;
            z-index: 100;
        }
    }

}