.search {

    &_container {
        
    }

    &_form {

    }

    &_input {
        border-radius: .5rem;
        justify-content: center;
        width: 55rem;
        height: 4.5rem;
    }

}

// borderRadius: "1em", 
// tintColor: "white",
// width: "100%", 
// height: "200px"