.Banner {
    display:flex;
    // background-color: royalblue;
    text-transform: capitalize;
    letter-spacing: 1px;
    background-image: linear-gradient(to right bottom, #d6adf7, #bf72ff);
    color: white;
    font-size: 5rem;
    padding-left: 1.4rem;
    font-weight: 300;
    height: 17.5rem;
    align-items:center;
    // display:none;
    // grid-row: banner-start/banner-end;
    // grid-column: left-whitespace-start/right-whitespace-end;
    @media only screen and (max-width: $bp-bop-medium) {
        grid-column: bop-start/bop-end;
    }
}