.Banner {
    display:flex;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: white;
    font-size: 5rem;
    padding-left: 2.5rem;
    font-weight: 300;
    height: 17.5rem;
    align-items:center;
    overflow: hidden;

    &_name {
        flex-basis: 126rem;        
    }
    
    @media only screen and (max-width: $bp-bop-medium) {
        grid-column: bop-start/bop-end;
    }
}