.Cards {
    grid-row: results-start/results-end;
    padding-right: 1rem;
    padding-top: 4rem;
    &_date {
      font-size: 2.5rem;
      font-weight: 400;
      color: black;
    }
    &_group {
      padding-bottom: 1rem;
    }
    @media only screen and (max-width: $bp-bop-medium) {
      padding-top: 0rem;
    }
}