.Cards {
    overflow-y: auto;
    max-height: 1200px;
    padding-right: 1rem;
    padding-top: 4rem;
    margin: 0 auto;
    &_date {
      font-size: 1.4rem;
    }
    &_group {
      padding-bottom: 1rem;
    }
    @media only screen and (max-width: $bp-bop-medium) {
      padding-top: 0rem;
    }
}