.Filter {
  width: 25rem;
  height: 30rem;
  border: 1px solid black;
  margin-top: 4rem;
  justify-self: center;
  background-color: $color-gray--main;
  padding-left: 3px;
  @media only screen and (max-width: $bp-bop-medium) {
    margin-top: 0rem;
  }
  input {
    margin-right: 4px;
  }
  .MuiSlider-root	{
    color: black;
    width: 84%;
  }
  &_priceSlider {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 1px;
  }
  .PrivateValueLabel-label-5 {
    font-size: 0.65rem;
  }

  &_label {
    &--disabled {
      cursor: not-allowed;
      user-select: none;
      color: grey;
    }
  }

  &_checkbox {
    &--disabled {
      pointer-events: none;

    }
  }
}