.Footer {
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14rem;
    font-size: 2.1rem;
    margin:0;
    overflow-x:hidden;
    width:100%;
    @media only screen and (max-width: $bp-bop-medium) {
        grid-column: bop-start/bop-end;
    }

    &_icons {
        display: flex;
        align-items: center;
        svg {
            fill: white !important;
        }
    }

    .bop-logo_footer {
        width: 5rem;
        padding-right: 1rem;
    } 

    .column {
        display:inline-block;
        vertical-align:top;
        padding:1rem;
    }
    
    .column .footer_title{
        color:rgba(235, 235, 235, 0.816);
        font-size:1em;
        font-weight:700;
        cursor:default;
    }
    
    .column a{
        text-decoration:none;
        display:block;
        color:gray;
        font-size:0.9em;
        padding: .5rem 0;
        font-weight:400;
        transition:0.5s;
    }
    
    .column img {
        width: 74%;
    }
    
    .column:not(:first-child) a:hover{
        color:rgb(143, 0, 172);
    }
    
    .column:nth-child(4) a:not(:first-child){
        margin: .5rem;
        display:inline-block
    }
        
    // .column:nth-child(1) .fa-facebook{
    //     color:#3B5998;
    // }
    
    // .column:nth-child(1) .fa-instagram{
    //     color:#d62977;
    // }
    
    // .column:nth-child(1) .fa-twitter{
    //     color:#3399ff;
    // }
    
    .sub-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background:rgb(7, 7, 7);
        grid-column: footer-start/footer-end;
        padding: .2rem 0;
        text-align:center;
        color:rgb(248, 248, 248);
        font-size: 2.1rem;
    }

    .footer-grid{
        display: grid;
        grid-template-columns: [footer-start]repeat(4, 1fr)[footer-end];
        flex-basis: auto;
    }
}