.Footer {
    background-color: royalblue;
    grid-column: left-whitespace-start/right-whitespace-end;
    @media only screen and (max-width: $bp-bop-medium) {
        grid-column: bop-start/bop-end;
    }
}