.header {
    background-color: #fff;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

    &_content {
        display: flex;
        align-items: center;
        flex-basis: 126rem;
        
        // justify-content: center;
    }

    &_nav-bar {
        // display: flex;
        // flex-direction: column;
        width: 62%;
    }

    .nav-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links li {
        list-style: none;
        transition: 0.5s;
        // &:hover {
        //     background-color: rgb(91, 11, 123);
        // }
    }

    .nav-links a {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-family: "Roboto";
        text-decoration: none;
        letter-spacing: 3px;
        transition: 00.8s;
        &:hover {
            color: rgb(130, 7, 253);
        }
    }

    .bop-logo_container {
        padding-left: 3rem;
        flex-basis: 24rem;
        .bop-logo_treble {
            width: 9%;
        }
        .bop-logo_icon {
            cursor: pointer;
            height: 3.25rem;   
        }
    }
    
}
