.home {
    &_container {
        display: flex;
        justify-content: center;
    }

    &_grid {
        display: grid;
        grid-template-rows: [video-start] 67rem [video-end main-start] min-content [main-end];
        grid-template-columns: [grid-start] minmax(20rem, 190rem) [grid-end];
    }

    &_banner {
        grid-row: video-start/video-end;
        z-index: 10;
        position: relative;
        display: flex;
        max-width: 190rem;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    &_search-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_main {
        grid-row: main-start/main-end;
    }

    &_white-text {
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.398);
        padding: 1rem;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        top: 165px; 
        left: 20%;
        border-radius: 8px;
        @media(max-width: 1100px) {
            top: 70px;
        }
    }
}