.Results {
  display: grid;
  grid-template-columns: [filter-start] minmax(20rem, 22rem) [filter-end results-start] minmax(min-content, 100rem) [results-end];
  grid-template-rows: [sort-start] max-content [sort-end results-start] max-content [results-end];
  grid-gap: 5px;

  @media only screen and (max-width: $bp-bop-medium) {
    grid-template-columns:[bop-start] minmax(min-content, .8fr) [bop-end];
    justify-content: center;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns:[bop-start] minmax(min-content, .7fr) [bop-end];
    justify-content: center;
  }
}

.LowerHalf_container {
  width: 100%;
}