.Search {
    /* flex-direction: row; */
    display: inline-flex;
    align-items: center;

    form {
        width: 99%;
        position: relative;
    }
    &-input {
        position: absolute;
        top: 2rem;
        left: 8.5rem;
        width: 90%;
        background: $color-gray--dark;
        border-radius: 1rem;
        height: 3.2rem;
        outline: none;
    }
}