.Sort {
    &_container {
        .MuiInputBase-root {
            font-size: 1.3rem;
        }
        .MuiSelect-icon {
            top: calc(50% - 7px);
        }
        .MuiInput-underline::before {
            content: none;
            border-bottom: none;
        }
        .MuiInput-underline::after {
            border-bottom: none;
        }
        .MuiFormControl-root {
            padding-left: 7px;
            padding-right: 2px;
            background-color: #E3E6E6;
        }
        .MuiListItem-root.Mui-selected {
            background-color:#E3E6E6;
        }
        .MuiSelect-select:focus {
            background-color:#E3E6E6;  
            border-radius: 7px;
        }
    }
    &_menu {
        border-radius: 7px;
        font-size: 20rem;
    }
}