.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .5rem;
    margin: auto;
    font-size: 2rem;
    color:black;
    max-width: 120.5rem;
    align-items: center;
    height:50px;
}