.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border-bottom: 1px solid #ccc;
    // box-shadow: 0 0 10px #ddd;
    padding-top: 5px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 2rem;
    color:black;
    max-width: 120.5rem;

}